*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: source sans variable;    
}

.cabecalho{
    background-color: #ba754f;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
}  

.campo-de-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    height: 50px;
    background-color: #6d3726;
    color: white;

}

input{
    border: 0;
    height: 20px;
    box-shadow: 1px 2px 2px gray;
    border-radius: 2px;
    width: 200px;
    padding: 5px;
}

.botao-de-pesquisa{
    border: 0;
    height: 20px;
    width: 80px;
    font-size: small;
    box-shadow: 2px 2px 7px 1px gray;
    border-radius: 2px;     
}


.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 15vh;
}

.container img{
    align-items: stretch;
    max-width: 350px; 
}

.card{
    height: 400px; 
    width: 400px; 
    display: flex;
    flex-direction: column;    
    background-color: #ba754f;
    color: white;
    padding: 1vh;
    box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.656);
    align-items: center;
    gap: 1vh;    
}

.card:hover{
    transform: scale(1.05);
    transition: all ease 500ms;
}


footer{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    background-color: #6d3726;
    color: white;
    font-weight: bold;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.botoes-para-redes{
    display: flex;
    gap: 2vw;    
}

.botoes-para-redes-unidade:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
}
